<% layout('/layouts/boilerplate') %>

  <div class="row">
    <h1 class="text-center">New campground</h1>
    <div class="col-md-6 offset-md-3">
     <div class="card shadow">
<div class="card-body">
      <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="campground[title]" required>
          <div class="valid-feedback">looks good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location" location">Location</label>
          <input class="form-control" type="text" id="location" name="campground[location]" required>
          <div class="valid-feedback">looks good!</div>
        </div>
        <div class="mb-3">

          <div class="mb-3">

            <input class="form-control" type="file" id="image" name="image" multiple>
            <label for="image" class="form-label">
            </label>
          </div>


        </div>
        <div class="mb-1">
          <label for="price" class="form-label">Campground Price</label>
          <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
            <div class="input-group">
              <span calss="input-group-text" id="plabel"></span>
              <div class="input-group-text">$</div>
              <input type="text" class="form-control" id="Price" placeholder="0.00" aria-describedby="plabel"
                name="campground[price]" required>
              <div class="valid-feedback">looks good!</div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="discr" location">Description</label>
          <textarea class="form-control" type="text" id="discr" name="campground[description]" required></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-success">add campground</button>
        </div>
      </form>
      <div>
        <a href="/campgrounds" class="btn btn-outline-danger btn-sm">BACK</a>
     </div>
      </div>
    </div>
   </div>
  </div>